<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addDevList</key>
	<array>
		<array>
			<dict>
				<key>osList</key>
				<array>
					<integer>4</integer>
					<integer>5</integer>
					<integer>7</integer>
					<integer>10</integer>
					<integer>17</integer>
					<integer>18</integer>
					<integer>19</integer>
					<integer>20</integer>
					<integer>23</integer>
					<integer>36</integer>
					<integer>37</integer>
					<integer>47</integer>
					<integer>48</integer>
					<string>83</string>
					<real>1071</real>
					<integer>1090</integer>
					<integer>1091</integer>
					<integer>1092</integer>
					<integer>1346</integer>
					<integer>1347</integer>
				</array>
				<key>cidPrefixList</key>
				<array>
					<string>2800</string>
				</array>
				<key>icon</key>
				<string>add_icon_camera</string>
				<key>home_icon</key>
				<string>ico_camera</string>
				<key>home_diable_icon</key>
				<string>ico_camera_Disabled</string>
				<key>gif</key>
				<string></string>
				<key>title</key>
				<string>DOG_CAMERA_NAME</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_CameraTipsTitle</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CameraTips</string>
				<key>ledState</key>
				<string>BLINKING</string>
				<key>typeMark</key>
				<integer>1</integer>
				<key>中文名字</key>
				<string>智能摄像头</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>2902</string>
				</array>
				<key>osList</key>
				<array>
					<string>82</string>
					<integer>84</integer>
					<real>1495</real>
				</array>
				<key>icon</key>
				<string>add_icon_outcam</string>
				<key>home_icon</key>
				<string>home_icon_outcam</string>
				<key>home_diable_icon</key>
				<string>home_icon_outcam_disable</string>
				<key>gif</key>
				<string>cam_outdoor.gif</string>
				<key>title</key>
				<string>Camera_Outdoor</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_Outdoor_CameraTipsTitle</string>
				<key>ledTitle</key>
				<string></string>
				<key>ledState</key>
				<string>HALF_CAMERA_ADD_TIPS</string>
				<key>typeMark</key>
				<integer>8</integer>
				<key>中文名字</key>
				<string>看家王AI摄像机 ·户外版</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>2600</string>
				</array>
				<key>osList</key>
				<array>
					<integer>26</integer>
					<integer>1088</integer>
				</array>
				<key>icon</key>
				<string>add_icon_cloud_camera</string>
				<key>home_icon</key>
				<string>home_icon_cloud_camera</string>
				<key>home_diable_icon</key>
				<string>home_icon_cloud_camera_disable</string>
				<key>gif</key>
				<string>cloud_cam_ios</string>
				<key>title</key>
				<string>Cloud_Camera</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_CloudcameraTitle</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CloudcameraTips</string>
				<key>ledState</key>
				<string>DOOR_BLUE_BLINKING</string>
				<key>typeMark</key>
				<integer>5</integer>
				<key>中文名字</key>
				<string>云相机</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>2900</string>
				</array>
				<key>osList</key>
				<array>
					<integer>21</integer>
					<integer>1089</integer>
				</array>
				<key>icon</key>
				<string>home_icon_720camera</string>
				<key>home_icon</key>
				<string>home_icon1_720camera</string>
				<key>home_diable_icon</key>
				<string>home_icon1_720camera_disabled</string>
				<key>gif</key>
				<string></string>
				<key>title</key>
				<string>_720PanoramicCamera</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_CameraTipShort</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CameraTips</string>
				<key>ledState</key>
				<string>BLINKING</string>
				<key>typeMark</key>
				<integer>2</integer>
				<key>中文名字</key>
				<string>720全景摄像机</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>osList</key>
				<array>
					<integer>92</integer>
					<integer>1564</integer>
				</array>
				<key>cidPrefixList</key>
				<array>
					<string>2903</string>
				</array>
				<key>icon</key>
				<string>add_icon_hemisphere</string>
				<key>home_icon</key>
				<string>home_icon_hemisphere</string>
				<key>home_diable_icon</key>
				<string>home_icon_hemisphere_disabled</string>
				<key>gif</key>
				<string>add_image_hemisphere</string>
				<key>title</key>
				<string>HALF_CAMERA</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_Outdoor_CameraTipsTitle</string>
				<key>ledTitle</key>
				<string></string>
				<key>ledState</key>
				<string>HALF_CAMERA_ADD_TIPS</string>
				<key>typeMark</key>
				<integer>10</integer>
				<key>中文名字</key>
				<string>半球设备(wifi模块)</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>6006</string>
					<string>6007</string>
					<string>6008</string>
				</array>
				<key>osList</key>
				<array>
					<integer>38</integer>
					<integer>39</integer>
					<integer>49</integer>
					<string>81</string>
					<integer>1284</integer>
					<integer>1285</integer>
					<integer>1348</integer>
				</array>
				<key>icon</key>
				<string>icon_ruishi1_carame</string>
				<key>home_icon</key>
				<string>icon_ruishi_carame</string>
				<key>home_diable_icon</key>
				<string>icon_ruishi_disabled</string>
				<key>gif</key>
				<string>ruishiyindao.gif</string>
				<key>title</key>
				<string>Consumer_Camera</string>
				<key>userActionTitle</key>
				<string>RuiShi_Guide</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CameraTips</string>
				<key>ledState</key>
				<string>BLINKING</string>
				<key>typeMark</key>
				<integer>4</integer>
				<key>中文名字</key>
				<string>IPCam（RS）</string>
				<key>oem</key>
				<array>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>5000</string>
					<string>6900</string>
					<string>5100</string>
					<string>6700</string>
					<string>6903</string>
					<string>2101</string>
					<string>2102</string>
					<string>6009</string>
				</array>
				<key>osList</key>
				<array>
					<integer>6</integer>
					<integer>15</integer>
					<integer>25</integer>
					<integer>22</integer>
					<integer>24</integer>
					<integer>28</integer>
					<integer>42</integer>
					<integer>44</integer>
					<integer>46</integer>
					<string>50</string>
					<real>1093</real>
					<integer>1094</integer>
					<integer>1343</integer>
					<real>1344</real>
					<integer>1345</integer>
					<integer>1378</integer>
				</array>
				<key>icon</key>
				<string>add_icon_ring</string>
				<key>home_icon</key>
				<string>ico_ring</string>
				<key>home_diable_icon</key>
				<string>ico_ring_Disabled</string>
				<key>gif</key>
				<string></string>
				<key>title</key>
				<string>Smart_bell_Battery</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_DoorbellTipsTitle</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_DoorbellTips</string>
				<key>ledState</key>
				<string>DOOR_BLINKING</string>
				<key>typeMark</key>
				<integer>3</integer>
				<key>中文名字</key>
				<string>智能门铃（有电池版）</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>6901</string>
				</array>
				<key>osList</key>
				<array>
					<integer>22</integer>
					<integer>27</integer>
					<integer>1160</integer>
				</array>
				<key>icon</key>
				<string>add_icon_intelligent_eye</string>
				<key>home_icon</key>
				<string>home_icon_intelligent_eye</string>
				<key>home_diable_icon</key>
				<string>home_icon_intelligent_eye_disable</string>
				<key>gif</key>
				<string>eyes_ios.gif</string>
				<key>title</key>
				<string>Smart_Door_Viewer</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_DoorbellTipsTitle</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CameraTips</string>
				<key>ledState</key>
				<string>BLINKING</string>
				<key>typeMark</key>
				<integer>6</integer>
				<key>中文名字</key>
				<string>智能猫眼</string>
				<key>oem</key>
				<array>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>cidPrefixList</key>
				<array>
					<string>5200</string>
				</array>
				<key>osList</key>
				<array>
					<integer>15</integer>
					<integer>52</integer>
					<real>1379</real>
				</array>
				<key>icon</key>
				<string>add_icon_ring</string>
				<key>home_icon</key>
				<string>ico_ring</string>
				<key>home_diable_icon</key>
				<string>ico_ring_Disabled</string>
				<key>gif</key>
				<string>door_ios.gif</string>
				<key>title</key>
				<string>Smart_bell_Power</string>
				<key>userActionTitle</key>
				<string>Tap1_AddDevice_CloudcameraTitle</string>
				<key>ledTitle</key>
				<string>Tap1_AddDevice_CloudcameraTips</string>
				<key>ledState</key>
				<string>DOOR_BLUE_BLINKING</string>
				<key>typeMark</key>
				<integer>7</integer>
				<key>中文名字</key>
				<string>智能门铃（无电池版）</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
			<dict>
				<key>osList</key>
				<array>
					<integer>92</integer>
					<integer>1564</integer>
				</array>
				<key>cidPrefixList</key>
				<array>
					<string>2903</string>
				</array>
				<key>icon</key>
				<string>add_icon_hemisphere</string>
				<key>home_icon</key>
				<string>home_icon_hemisphere</string>
				<key>home_diable_icon</key>
				<string>home_icon_hemisphere_disabled</string>
				<key>gif</key>
				<string>add_image_wired</string>
				<key>title</key>
				<string>DOG_CAMERA_NAME</string>
				<key>userActionTitle</key>
				<string>DEVICE_WIRED_CONNECTION</string>
				<key>ledTitle</key>
				<string>WIRED_GUIDE</string>
				<key>ledState</key>
				<string>WIRED_MODE_CONNECTED</string>
				<key>typeMark</key>
				<integer>9</integer>
				<key>中文名字</key>
				<string>有线连接</string>
				<key>oem</key>
				<array>
					<string>cylan</string>
					<string>doby</string>
				</array>
			</dict>
		</array>
	</array>
</dict>
</plist>
