<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>msg</key>
		<string>嘿，2B!</string>
		<key>msgDate</key>
		<string>2016/01/04 10:27</string>
		<key>lastMsgDate</key>
		<string>2016/01/04 10:20</string>
		<key>modelType</key>
		<integer>1</integer>
		<key>cellHeight</key>
		<integer>40</integer>
		<key>enableDateLabel</key>
		<true/>
	</dict>
</array>
</plist>
